{% extends 'base.html' %}

{% block title %}Feedback - Secret{% endblock %}

{% block content %}
<div>
    <h1>{{ user.username }} Details</h1>
    <div>Full Name: {{ user.get_full_name }}</div>
    <div>Email: {{ user.email }}</div>
    <div>Username: {{ user.username }}</div>
</div>
<div>
    <h2>Feedback Given</h2>
    <h3><a href="/users/{{ user.username }}/feedback/add">Add More Feedback</a></h3>
    {% for fb in user.feedback %}
        <div>{{ fb.title }} - 
            <span><a href="/feedback/{{ fb.id }}/update"><i class="fa-solid fa-pen-to-square"></i></a></i> </span>
            <span><a href="/feedback/{{ fb.id }}/delete"><i class="fa-solid fa-trash"></i></a></span></div>
    {% endfor %}
</div>
{% endblock %}